*{
    margin: 0px;
    padding:0px
}


body{
    font-family: "Gabarito", sans-serif;
}

nav{
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}

.navbar{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid black 1px;
    gap: 10px;
    align-items: center;
    
   
}

.navbar__s1{
    color:fuchsia;
}

.navbar__s2{
    padding: 10px;
    border: black solid 1px;
    border-radius: 30px;
    width: 60%;
    display: flex;
    gap:10px;
    align-items: center;
}

.navbar__s2 input{
    border: none;
    width: 100%;
    font-size: 16px;
    background-color: none;
}

.navbar__s2 input:focus{
    outline: none;
}

.navbar__s3{
    display: flex;
    gap:10px;
    align-items: center;
    
}

.mylearning{
    position: relative;
    cursor: pointer;
}

.mylearning__popup{
    position: absolute;
    background-color: white;
    border: solid black 1px;
    width: 100px;
    top:150%;
    padding: 10px;
    right: 0px;
    display: none;
}

.mylearning:hover .mylearning__popup{
    display: block;
}


.catagories{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: solid black 1px;
}

.catagories p{
    background-color: fuchsia;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    border:solid 1px fuchsia;
}

.catagories p:hover{
    background-color: transparent;
    transition: 1s;
    color:black;
    border:solid 1px fuchsia;
}

.sale-image img{
    width: 100%;
}

.sale-image{
    position: relative;
}

.sale-image__offer{
    background-color: white;
    color: black;
    width: fit-content;
    border: solid gray 2px;
    padding: 10px;
    position: absolute;
    top: 10%;
    left:10%;
    animation-name: zoom;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes zoom{
    0%{
        transform: scale(0);
        opacity: 0;
    }

    100%{
        transform: scale(1);
        opacity: 1;
    }
}

.recommended{
    padding: 10px;
}
 
.recommended-image{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 10px;
}

.image__code{
    flex-grow: 1;
    flex-basis: 20%;
    margin: 10px;
}

.image__code img{
    width: 100%;
    height: 50%;
}

.topics{
    padding: 10px;
}

.topics__container{
    display: flex;
    flex-wrap: wrap;
    gap:10px;   
    margin-top: 10px;
    margin-bottom: 20px;
}

.topics__container p{
    border: gray solid 1px;
    padding: 5px;
    flex-basis: 25%;
    flex-grow: 1;
}

.populer{
    padding: 10px;
}

.populer-image{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
    gap: 10px;
}

.image__code img{
    width: 100%;
    height: 50%;
}

.footer{
    padding: 10px;
    background-color: black;
    color:white;
}

.footer__one{
    display: flex;
    gap:20px;
}

.footer__one p{
    margin:20px;
}

.footer__two{
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width:800px){
    body{
        font-size: 10px;
    }
}

@media screen and (max-width:600px){
    .image__code{
        flex-basis: 40%;
    }

    .catagories{
        display: none;
    }

    .navbar__s2,.navbar__s3{
        display: none;
    }
}

.navbar__s4{
        display: block;
}